<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.883698344524-mqmpr0spvoqu758103dg63297a4u8gqq</string>
			</array>
		</dict>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>whatsapp</string>
		<string>snapchat</string>
	</array>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Used to show today's local weather on the Home screen.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Saves your shift card to your photos.</string>
	<key>NSSupportsLiveActivities</key>
	<true/>
</dict>
</plist>
